@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  color: #000000;
  background-color: #FFFBE5;
  font-family: serif;
  font-family: "brandon-grotesque",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.intro-text {
  color: #0056FF;
  font-weight: normal;
  margin-top: 30px;
}

.main-card {
  border: 3px solid #0056FF;
  background: white;
  box-shadow: 17px 17px 0 -3px white, 17px 17px 0 #0056FF, 34px 34px 0 -3px white, 34px 34px 0 #0056FF;
}

.image-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 30px;
}

.social-links {
  color: #0056FF;
  text-decoration: none;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: space-between;
}
