@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Libre Franklin", sans-serif;
}


p {
  font-size: 2.7rem;
  line-height: 1.5;
  font-weight: 600;
}

.profile {
  float: none;
  width: 70%;
}


@media only screen and (min-width: 35em) {

  .profile {
    float: left;
    width: 50%;
  }

}
